/* * {
	margin: 0;
	padding: 0;
	color: #232b2b;
} */
ul {
  list-style: none;
}

body {
  background-image: url(./img/Djl8t3GV4AARxgm.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1600px;
}

main {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  width: 40%;
}

h1 {
  text-align: center;
  color: red;
  font-size: 30px;
  font-family: 'DotGothic16', sans-serif;
  margin-bottom: 10px;
}

h2 {
  font-family: 'DotGothic16', sans-serif;
}

form {
  width: 100%;
  height: 36px;
  display: flex;
  margin: 30px auto 20px;
}

/* input[type="text"] {
  width: 90%;
  padding: 3px 7px;
  border: 1px solid #232b2b;
  border-radius: 3px 0 0 3px;
  background-color: white;
} */

#input {
  /* text-align: center; */
  width: 90%;
  color: black;
  padding: 3px 7px;
  border: 1px solid #232b2b;
  border-radius: 3px 0 0 3px;
  background-color: white;
}

#btn {
  padding: 5px;
  margin-left: 5px;
  border: solid 1px black;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  background-color: white;
}

.todo-list {
  width: 100%;
  border-radius: 3px;
  margin-bottom: 40px;
}

/* 追加されるリストアイテムのCSS */
li {
  margin-top: 80px;
  /* border: 1px solid rgb(187, 187, 187); */
  border-bottom: none;
  padding: 3px 11px;
  display: flex;
  align-items: center;
  background-color: white;
  /* ボタンが追加された時、タスクの内容とボタンを左右に配置 */
  justify-content: space-around;
}

.todo-list2 {
  width: 100%;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

p {
  margin-top: 30px;
  border-bottom: none;
  padding: 3px 11px;
  background-color: white;
}

.img_css {
  margin: 0 auto;
}

.delete {
  font-size: 12px;
  color: rgb(202, 20, 20);
  cursor: pointer;
}

/* お問い合わせフォーム */

.otoiawase {
  flex-direction: column;
  align-items: center;
}

.otoiawase input {
  color: black;
  padding: 3px 7px;
  border: 1px solid #232b2b;
  border-radius: 3px 0 0 3px;
  background-color: white;
  font-family: 'DotGothic16', sans-serif;
  margin-bottom: 25px;
}

textarea {
  display: flex;
  border: 1px solid #232b2b;
  border-radius: 3px 0 0 3px;
  background-color: white;
  font-family: 'DotGothic16', sans-serif;
  margin-bottom: 10px;
}

.content-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

section h1 {
  margin-top: 50px;
}

section label {
  font-family: 'DotGothic16', sans-serif;
}


/* レスポンシブ */

@media screen and (max-width:780px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    width: 80%;
  }

  h1 {
    font-size: 24px;
  }
}